<!DOCTYPE html>
<html>
    <head>
        <title>AthleteIQ</title>
    </head>
    <body>
        <h1>Welcome to AthleteIQ</h1>
        <form method="GET" action="/player">
            <input type="text" name="name" placeholder="Enter soccer player name" required/>
            <div class="league-select">
                <label for="league">League:</label>
                <select name="league" id="league">
                    <option value="" disabled selected>Select a league</option>
                    <option value="Premier League">Premier League</option>
                    <option value="La Liga">La Liga</option>
                    <option value="Bundesliga">Bundesliga</option>
                    <option value="Seria A">Seria A</option>
                    <option value="Ligue 1">Ligue 1</option>
                    <option value="Eredivisie">Eredivisie</option>
                    <option value="MLS">MLS</option>
                    <option value = "Saudi Pro League">Saudi Pro League</option>
                    <option value = "UEFA Europa League">UEFA Europa League</option>
                    <option value = "UEFA Champions League">UEFA Champions League</option>
                </select>
            </div>
            <button type="submit">Search</button>
        </form>
    </body>
</html> 
